body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #b6b8ba, #7e8182, #d0d4d7);
    background-size: 300% 300%;
    animation: metal-shine 8s ease infinite;
    /* soft grey background */
    font-family: system-ui, sans-serif;
}

.screen {
    width: 100%;
    max-width: 290px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 22px;
    justify-content: center;
    background: #9ee2f8;
    border-radius: 14px;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);

}

.hidden {
    display: none;
}

input,
select {
    display: block;
    width: 100%;
    margin: 6px 6px 12px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}


textarea {
    display: block;
    width: 100%;
    height: 80px;
    margin: 6px 6px 12px -5px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    resize: none;
}

button {
    background: #75b3ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #4169b5;
    opacity: 0.9;
}
input:focus {
  outline: none;
  border-color: #1976d2;
  background: white;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #eee;
}

.muted {
    color: #666;
    font-size: 13px;
}